body{
    text-align: center;
}
img{
    width:500px;
}
.info{

    font-size: 10px;
    padding-right: 5px;
}
.info a{
    color: rgb(255, 0, 0);
    cursor: pointer;
    text-decoration: none;
    font-size: larger;
}
.image{
    position: relative;
    margin: 100px;
    overflow: hidden;
}
.info{
    position: relative;
    width: 100%;
    background-color: darkgray;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    margin-top: -100px;

}
.image:hover .about{

    opacity: 1;
    padding: 10px;
    text-decoration: none;
}
.gallery-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}
.icon{
    width: 100px;
}
.programmer{
    color: #bd4b00;
    text-shadow: 1px 2px black;
    margin-top: 300px;
    margin-bottom: -100px;
}
.docu{
    color: #bd4b00;
    text-shadow: 1px 2px black;
}
.doc1{
    width: 400px;
    height: 300px;
}
h2{
    color: #bd4b00;
    text-shadow: 1px 2px black;

    margin-top: 80px;
}
.main-container{
    margin-bottom:30px;
}
